on:
  - push

jobs:
  run:
    name: run
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with: 
          fetch-depth: 0
      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v2.0.0
      - name: config Dezi
        run: |
          arduino-cli config network.connection_timeout 60000s
          arduino-cli lib install dezibot
          arduino-cli core install esp32:esp32
      - name: run
        run: | 
          mkdir test
          cp test.ino test
          arduino-cli compile --fqbn esp32:esp32:esp32s3usbotg:USBMode=hwcdc,PartitionScheme=default,DebugLevel=none,EraseFlash=none test/test.ino
          arduino-cli upload -p /dev/ttyACM0 --fqbn esp32:esp32:esp32s3usbotg:USBMode=hwcdc,PartitionScheme=default,DebugLevel=none,EraseFlash=none test/test.ino
